:root {
    margin: 0;
    padding: 0;
    color: var(--green);

    --purple: rgb(150, 134, 158);
    --orange: rgb(227, 156, 88);
    --beige: rgb(234, 222, 203);
    --lime: rgb(175, 176, 114);
    --green: rgb(71, 71, 45);

}

.heroContainer h1 {
    font-size: 50px;
}

:root li {
    color: black;
    font-weight: bold;
}

.html {
    margin: 0;
    padding: 0;
}

.card .largeImage {
    height: 300px;
    width: 300px;
}


.heroContainer {
    height: 40vh;
    padding: 50px;
}

.SecondHeroContainer {
    height: 40vh;
}


.playlistContainer {
    display: flex;
    justify-content: center;
    margin: 50px;
    height: auto;
}

.playlistMain {
    background-color: var(--beige);
    width: 100%;
    margin: 0;
}

.playlistRow {
    display: flex;
    flex-direction: column;
}

.playlist {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.HeroPlaylist {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    justify-content: center;

}

:root h3 {
    font-style: italic;
}

.heroPicture {
    padding-left: 30px;
}





.boxshadow {
    -webkit-box-shadow: 28px 28px 28px -11px rgba(0, 0, 0, 1);
    -moz-box-shadow: 28px 28px 28px -11px rgba(0, 0, 0, 1);
    box-shadow: 28px 28px 28px -11px rgba(0, 0, 0, 1);
}



.heroContainer {
    display: flex;
    padding-bottom: 80px;
    justify-content: space-around;
    background-color: var(--lime);

}

.SecondHeroContainer {
    padding: 50px;
    padding-bottom: 80px;
    background-color: var(--lime);
}

.SecondHeroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SecondHeroContainer h1 {
    text-align: center;
    width: 100%;
}

.SecondHeroContainer h2 {
    text-align: center;
}


.heroText {
    text-align: right;
    margin-left: 10%;
    margin-right: 20%;
}

.heroText h1 {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}



.enlargeImg :hover {
    transform: scale(1.1);
    transition-duration: .5s;
    cursor: pointer;
}

/* CSS */
.button-24 {
    background: var(--purple);
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
    transform: scale(1.2);
    transition-duration: 1.2s;
}

.button-24:active {
    opacity: .5;
}



@media all and (max-width: 1400px) {
    .heroContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0px;
        height: auto;
        padding-bottom: 200px;
    }

    .playlistMain {
        height: auto;
    }

    .SecondHeroContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 200px;
        height: 50vh;
        padding: 0px;
        margin: 0px;

    }

    .heroPicture {
        padding-left: 0px;
    }


    .heroContainer img {
        padding: 0px;
        padding-top: 50px;
    }

    .SecondHeroContainer h1 {
        text-align: center;
    }

    .SecondHeroText {
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
    }

    .heroText {
        text-align: center;
        margin-left: 15%;
        margin-right: 15%;
    }

    .card img {
        width: 100%;
        height: 100%;
    }




    .heroPicture img {
        width: 100%;
        height: 100%;
    }

    .HeroPlaylist {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

}

@media all and (max-width: 550px) {
    .SecondHeroText h1 {
        padding-top: 50%;
        margin: 0px;
    }

    .SecondHeroContainer {
        padding: 0px;
        margin: 0px;
    }

    .heroContainer {
        padding: 0px;
    }

    .heroPicture {
        margin: 0px;
        padding: 0px;
    }

    .playlistContainer {
        flex-direction: column;
        width: 50%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }


}


@media all and (max-width: 385px) {
    .heroContainer {
        padding: 20px;
    }

    .playlistContainer {
        margin-bottom: 20px;
    }


    .SecondHeroContainer {
        height: 50vh;
    }

    .SecondHeroText h1 {
        padding-top: 50%;
        margin: 0px;
    }

    .playlistRow {
        padding-top: 0px;
    }
}