#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

#body {
  margin: 0;
  padding: 0;
  background-color: beige;
}

#html {
  margin: 0;
  padding: 0;
}

.SecondHeroText h1 {
  font-size: 50px;
  color: yellow;

}

.SecondHeroText h2 {
  font-size: 20px;
}

.SecondHeroText h3 {
  font-size: 15px;
  color: yellow;
}

.SecondHeroText h4 {
  font-size: 30px;
  color: maroon;

}